<!-- <ul class="menu">
    <li *ngFor="let item of t | keyvalue" class="list"><a routerLink="#">Niveau {{item.key}} <button style="float: right;">Add</button> <button style="float: right;">Remove</button> </a>
       <ul class="items">
          <li *ngFor="let x of item.value  ;  let i = index"  style="margin-left: 10px;" class="list"><a routerLink="#">QCM {{i+1}}</a> 
             <ul  class="items">
                <li> <a href="#" > Points :  {{x.point}}</a></li>
                <li> <a href="#" > Tag : {{x.tag}}</a></li>
                <li> <a href="#" > Qestion : {{x.question}}</a></li>
                <li> <a href="#" > Reponse : {{x.answer}}</a></li>
                <li style="margin-left: 10px;" class="list"><a routerLink="#">Options</a> 
                   <ul  class="items">
                      <li *ngFor="let y of x.option"> <a routerLink="#" > {{y}}</a></li>
                   </ul>
                </li>
             </ul>
          </li>
 
       </ul>
      
    </li>
   
 </ul> -->
